<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
    <li class="nav-item" style="padding-left:0.2in">
      <a class="btn btn-primary" routerLink="/addactor">Add Actor</a>
    </li>
    <li class="nav-item" style="padding-left:0.2in">
      <a class="btn btn-primary" routerLink="/listactors">List Actors</a>
    </li>
    <li class="nav-item" style="padding-left:0.2in">
      <a class="btn btn-primary" routerLink="/updateactor">Update Actor</a>
    </li>
    <li class="nav-item" style="padding-left:0.2in">
      <a class="btn btn-primary" routerLink="/deleteactor">Delete Actor</a>
    </li>
    <li class="nav-item" style="padding-left:0.2in">
      <a class="btn btn-primary" routerLink="/addmovie">Add Movie</a>
    </li>
    <li class="nav-item" style="padding-left:0.2in">
      <a class="btn btn-primary" routerLink="/listmovies">List Movies</a>
    </li>
    <li class="nav-item" style="padding-left:0.2in">
      <a class="btn btn-primary" routerLink="/deletemovie">Delete Movie</a>
    </li>
    <li class="nav-item" style="padding-left:0.2in">
      <a class="btn btn-primary" routerLink="/actortomovie">Add Actor to Movie</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>